
*{
    margin: 0;
    padding: 0;
}
h1{
    line-height: 12vh;
    text-align: center;
}

.main-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.container{
    width: 200px;
    padding: 20px;    
    margin-top: 20px;
}

#buttons{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin:20px;
}

button{
    padding: 20px;
    margin: 10px;
    width: 100px;
}


#outputbox{
    line-height:8;
    margin-left: 20px;
}

label{
    color: darkblue;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}